<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/single-blog.css" />
  <title>{{blog_title}}</title>
</head>
<body>
  <header>Welcome to Simple Blog</header>
  <main>
    <article>
      <h1>{{blog_title}}</h1>
      <p>{{blog_content}}</p>
    </article>

    <div class="created-at">Published on: {{blog_created_at}}</div>
  </main>

  <footer>
    <p>&copy; 2025 Simple Blog. All rights reserved.</p>
  </footer>
</body>
